<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Joan Clarke: la criptóloga que ayudó a descifrar el codigo Enigma</h1>
    <p>Joan Clarke, matemática y criptoanalista, tuvo un rol central en la hazaña que implicó descifrar el Código Enigma utilizado por los alemanes, durante la Segunda Guerra Mundial.<br> 
        La británica trabajó codo a codo junto a Alan Turing y su equipo para desentrañar el funcionamiento de ese sistema que se usaba para codificar mensajes.</p>
    <img src="/img/clarke.jpg">
   
</body>
</html>