<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Margaret Hamilton, la pionera de la programación que llevó el Apolo a la Luna</h1>
    <p>La misión espacial Apolo 11 tenía como objetivo lograr que un ser humano caminara en la superficie de la Luna.<br>
        Un equipo de científicos, astronautas, matemáticos, ingenieros, etc. trabajaron duramente en la misión para conseguir que el alunizaje fuera posible.<br> 
        Entre estas personas encontramos a Margaret Hamilton, la primera ingeniera de software de la NASA,<br>
        sin las contribuciones de la cual el alunizaje del Apolo 11 no hubiera sido posible.</p>
    <img src="/img/margaret-hamilton.jpg">
</body>
</html>