<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <h1>Ada Lovelace, la madre de la programacion</h1>
    <p>Escribió el primer algoritmo informático de la Historia. Ella misma fue capaz de introducirlo,<br>
        por primera vez, en una máquina. Con esto pudo explicar los primeros conceptos informáticos que, todavía hoy, persisten en la actualidad.<br>
        Hablamos de Augusta Ada King, más conocida como Ada Lovelace. Pionera en el mundo de la informática y uno de los nombres científicos más importantes del siglo XIX.</p>
        <img src="/img/lovelace.jpg">
</body>
</html>