<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
</head>
<body>
    <h1>Alan Turing, el padre de la computacion</h1>
    <p>Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954) fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.<br>
        Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing.<br>
        Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).<br>
        Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, 
        y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años.<br> 
        Tras la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.<br>
        En el campo de la inteligencia artificial, es conocido sobre todo por la concepción de la prueba de Turing (1950),<br> 
        un criterio según el cual puede juzgarse la inteligencia de una máquina si sus respuestas en la prueba son indistinguibles de las de un ser humano.<br>
        La carrera de Turing terminó súbitamente tras ser procesado por homosexualidad en 1952. Dos años después de su condena, murió —según la versión oficial por suicidio; sin embargo, su muerte ha dado lugar a otras hipótesis,<br> 
        incluida la del envenenamiento accidental —. El 24 de diciembre de 2013, la reina Isabel II del Reino Unido promulgó el edicto por el que se exoneró oficialmente al matemático, quedando anulados todos los cargos en su contra.7​</p>
    <a href="index"> regreso al home </a>
    <img src='/img/turing.jpg' alt="">
</body>
</html>